

.as{
    text-decoration: none;
    color: black;
}

.as:hover{
   
    color: white;
}

.divi{
    border-radius: 8px;
    padding: 20px;
    border: 2px solid black;
}

.divi:hover{
 background-color: black;    
}



@media(max-width: 750px) {
    .main{
  
    min-width: 88vw;
    max-height: max-content;
    
    }   
    .divi{
   
        padding: 10px 20px;
        margin-left: 10px;
       
    } 
   .h2{
    font-size: 20px
   }
   body{
    height: auto;
   }
   .inpututtu{
    justify-content: space-between;
    flex-direction: column;
   }
};